
.body {
  background-color: rgb(22, 6, 80,0.75);  
}


/*
===================================
WEB NORMAL
===================================
*/
@media only screen and (min-width: 501px) {
/*Loading Screen*/

.loading {
  background: linear-gradient(rgba(22, 6, 80, 0.9), rgba(84, 53, 196, 0.9), rgba(145, 140, 216, 0.8)), url(../images/stars2.gif) repeat;
  z-index: 999;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-image {
  width: 10%;
  z-index: 999;
  animation: nubLoad ease-in 1s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes nubLoad{
  0% {
    width: 10%;
    opacity: 0;
  }
  50% {
    width: 12%;
    opacity: 1;
  }
  100%{
    width: 10%;
    opacity: 0;
  }
}

/*Nub on Website*/
.nub {
  z-index: 999;
  width: 12%;
  position: fixed;
  bottom: 0%;
  right: 2%;
  animation: nubMovement ease-in 15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes nubMovement{
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*Navbar*/
.navbar {
  background-color: rgb(22, 6, 80, .6);
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0.5% 0.5% 0.5% .5%;
}

.nav-image {
  width: 6%;
  padding: 0.2%;
  margin-left: 1%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  padding: 10px;
  color: whitesmoke;
  font-weight: 645;
  font-size: 1.3vw;
  text-decoration: none;
  transition: color .25s ease-out 25ms;
}


.nav-item:hover {
  color: rgb(145, 140, 216);
  cursor: pointer;
}

.apply-button {
  width: 10%;
  font-size: 1.3vw;
  padding: .5%;
  border: none;
  color: whitesmoke;
  background-color: rgb(145, 140, 216);
  border-radius: 500px;
  font-weight: 550;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  transition: color, font-size .25s ease-out 25ms, .25s ease-out 25ms;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  border: 3px solid rgba(191, 186, 219, 0.904);
  margin-left: auto;
  margin-right: 3%;
}

.apply-link {
  color: whitesmoke; 
  text-decoration: none; 
}

.apply-button:hover{
  background-color: rgba(173, 165, 223);
  font-size: 1.35vw;
  cursor: pointer;
}

.visual {
  animation: scrollAnimation ease-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scrollAnimation {
  0% {
    color: whitesmoke;
  }
  100% {
    color: rgb(145, 140, 216);
    }
}


/* Home */
.skyline-home {
  display: flex;
  z-index: 0;
  justify-content: center;
  align-items: center;
  background: rgb(22, 6, 80,0.75);
  position: relative;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.home-video {
  width: 100%;
}

.skyline-home .home-text {
  z-index: 2;
  position: absolute;
  color: whitesmoke;
  font-size: 5vw;
  bottom: 61%;
  right: 61%;
  font-weight: 475;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-shadow: 0 3px 7px rgb(0 0 0 / 100%);
  font-family: optima;
}

.skyline-home .home-logo {
  z-index: 2;
  position: absolute;
  right: 50%;
  bottom: 30%;
  width: 25%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
    }
}


/* About */

.about-wrapper {
  background-color: whitesmoke;
  height: 50%;
  border-bottom-color: whitesmoke;
  border-bottom-style: groove;
  border-bottom-width: .5vw;
}

.about-white-bar-top {
  background-color: whitesmoke;
  width:100%;
  height: 100%;
  position:absolute;
  -webkit-transform: skew(0, -4deg) translateY(calc(50vw/-12));
  -ms-transform: skew(0, -4deg) translateY(calc(50vw/-12));
  transform: skew(0, -4deg) translateY(calc(50vw/-12));
  left:0;
  animation: whiteBarDrop ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes whiteBarDrop {
  0% {
    
  }
  100% {
    
  }
}

.about-white-bar-bottom {
  background-color: whitesmoke;
  width:100%;
  height: 20%;
  position:absolute;
  -webkit-transform: skew(0, -4deg) translateY(calc(50vw/-12));
  -ms-transform: skew(0, -4deg) translateY(calc(50vw/-12));
  transform: skew(0, -4deg) translateY(calc(50vw/-12));
  left:0;
  z-index: 1;
}

.skyline-about {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-around;
  width: 90%;
}

.about-image {
  width: 80%;
  z-index: 999;
  padding: 5%;
}

.skyline-text {
  width: 70%;
  padding: 5.5%;
  margin: 10% auto 10% auto;
}

.skyline-about-header {
  font-size: 2.4vw;
  font-weight: 640;
}

.skyline-about-desc {
  font-size: 1.2vw;
}

.about-button {
  width: 13%;
  font-size: 1.5vw;
  padding: 0.7%;
  border: none;
  color: whitesmoke;
  background-color: rgb(145, 140, 216);
  border-radius: 500px;
  font-weight: 550;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  transition: color, font-size .25s ease-out 25ms, .25s ease-out 25ms;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  border: 3px solid rgba(191, 186, 219, 0.904);
  position: absolute;
}

.about-link {
  color: whitesmoke; 
  text-decoration: none; 
}

.about-button:hover{
  background-color: rgba(173, 165, 223);
  font-size: 1.55vw;
  cursor: pointer;
}

/* Character */
.character-wrapper {
  background: linear-gradient(rgba(22, 6, 80, 0.9), rgba(84, 53, 196, 0.9), rgba(145, 140, 216, 0.8)), url(../images/stars2.gif) repeat;
  height: 60%;
  padding: 16%;
}

.skyline-character {
  color: black;
  width: 90%;
  display: flex;
  flex-direction:row-reverse;
  justify-content: stretch;
}

.character-image {
  width: 200%;
  padding: 10%;
}

.character-text {
  width: 300%;
  padding: 5%;
  margin: 5% auto 5% auto;
  color: whitesmoke;
  text-shadow: 0 3px 7px rgb(0 0 0 / 60%);
}

.character-header {
  font-size: 2.4vw;
  font-weight: 640;
}

.character-desc {
  font-size: 1.2vw;
}

.character-button {
  width: 30%;
  font-size: 1.5vw;
  padding: 1.5%;
  border: none;
  color: whitesmoke;
  background-color: rgb(145, 140, 216);
  border-radius: 500px;
  font-weight: 550;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  transition: color, font-size .25s ease-out 25ms, .25s ease-out 25ms;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  border: 3px solid rgba(191, 186, 219, 0.904);
}

.character-link {
  color: whitesmoke; 
  text-decoration: none; 
}

.character-button:hover{
  background-color: rgba(173, 165, 223);
  font-size: 1.55vw;
  cursor: pointer;
}

/* News */

.news-wrapper {
  background-color: whitesmoke;
  height: 50%;
  border-bottom-color: whitesmoke;
  border-bottom-style: groove;
  border-bottom-width: .5vw;
}

.news-white-bar-top {
  background-color: whitesmoke;
  width:100%;
  height: 100%;
  position:absolute;
  -webkit-transform: skew(0, 4deg) translateY(calc(50vw/-12));
  -ms-transform: skew(0, 4deg) translateY(calc(50vw/-12));
  transform: skew(0, 4deg) translateY(calc(50vw/-12));
  left:0;
}

.news-white-bar-bottom {
  background-color: whitesmoke;
  width:100%;
  height: 16%;
  position:absolute;
  left:0;
  z-index: 1;
}

.skyline-news {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-around;
  width: 90%;
}

.news-image {
  width: 80%;
  z-index: 999;
  padding: 5%;
}

.skyline-news-header {
  font-size: 2.4vw;
  font-weight: 640;
}

.skyline-news-desc {
  font-size: 1.2vw;
}


/* Credits */

.credit-wrapper {
  background: linear-gradient(rgba(22, 6, 80, 0.9), rgba(84, 53, 196, 0.9), rgba(145, 140, 216, 0.8)), url(../images/stars2.gif) repeat;
  height: 50%;
  padding: 8%;
}

.credits-header {
  text-align: center;
  font-size: 2.8vw;
  color: whitesmoke;
  animation: cardAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-shadow: 0 3px 7px rgb(0 0 0 / 60%);
}

.credits-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 3% 20%;
  position: relative;
  animation: cardAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.credit-buttons-wrapper {
  width: max-content;
  flex: 1 0 0;
  padding: 2% 2%;
  animation: cardAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.credit-buttons {
  width: 100%;
  font-size: 1.5vw;
  padding: 2%;
  border: none;
  color: whitesmoke;
  background-color: rgb(145, 140, 216);
  border-radius: 500px;
  font-weight: 550;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  transition: color, font-size .25s ease-out 25ms, .25s ease-out 25ms;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  border: 3px solid rgba(191, 186, 219, 0.904);
}

.credit-buttons:hover {
  background-color: rgba(173, 165, 223);
  font-size: 1.55vw;
  cursor: pointer;
}

.credit {
  width: 17%;        
  display: flex;          
  flex-direction: column; 
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  padding: 4%;
  align-items: center;
  margin: 1%;
  margin-bottom: 4%;
  border: 3px solid rgba(191, 186, 219, 0.904);
  animation: cardAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes cardAnimation {
  from{
    opacity: 0;
    transform: translateX(10px);
  }

  to{
    opacity: 100%;
    transform: translateX(0px);
  }
}

.credits-list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto; 
  align-items: center;
  justify-content: space-around;
}

.credit-image {
  width: 50%;
  border-radius: 500px;
  border: 3px solid rgba(191, 186, 219, 0.904);
  margin: 5%;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.credit-name {
  font-size: 1.8vw;
  font-weight: bold;
  text-align: center;
  margin: 3%;
  background-color: rgba(191, 186, 219, 0.904);
  padding: 5%;
  border-radius: 20px;
  color: whitesmoke;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.credit-icons {
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: center;
  margin: 1%;
  padding: 2%;
}

.credit-links {
  text-align: center;
  padding: 3%;
}

.credit-icon {
  width: 4vw;
  padding: 2%;
  display: inline;
  background-color: rgba(145, 132, 216, 0.904);
  border-radius: 500px;
  transition: background-color .25s ease-out 25ms; 
}

.credit-icon:hover {
  background-color: rgba(124, 108, 216, 0.904); 
}

/* Apply */

.apply-wrapper {
  background: linear-gradient(rgba(145, 140, 216, 0.8), rgba(207, 206, 221, 0.8)), url(../images/stars2.gif) repeat;
  height: 60%;
  padding: 7%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.form-head {
  display: flex;
  flex-direction: column; 
  background-color: rgb(22, 6, 80,0.75);
  margin: 2%;
  border-radius: 100px 0 100px 0;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.form-header {
  color: whitesmoke;
  font-size: 2.8vw;
  font-weight: 700;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  text-align: center;
  padding: 1%;
}

.form-text {
  color: whitesmoke;
  font-size: 1.5vw;
  font-weight: 700;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%); 
  text-align: center; 
  padding: 1%;
}

.form-embed {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Footer */

.footer-wrapper {
  display: flex;
  background-color: rgb(22, 6, 80,0.80);
  align-items: center;
  width: 100%;
}

.footer-logo {
  width: 6.5vw;
  padding: .05%;
  margin-left: 2%;
}

.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: center;
  margin: 1%;
  padding: 0.05%;
  margin-left: auto;
  margin-right: 4%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.footer-icon {
  width: 3vw;
  display: inline;
  background-color: rgb(12, 3, 43);
  border-radius: 500px;
  transition: background-color .25s ease-out 25ms;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.footer-icon:hover {
  background-color: rgb(30, 10, 104); 
}

.footer-text {
  color: whitesmoke;
  padding: .5%;
  font-size: 1.2vw;
  margin-left: 30%;
  margin-right: auto;
}

/* CSS Animation to load content while scrolling */

.reveal{
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: 1.5s all ease-in;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
}

/*
===================================
WEB SMALLER
===================================
*/

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  /*Loading Screen*/

.loading {
  background: linear-gradient(rgba(22, 6, 80, 0.9), rgba(84, 53, 196, 0.9), rgba(145, 140, 216, 0.8)), url(../images/stars2.gif) repeat;
  z-index: 999;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-image {
  width: 18%;
  z-index: 999;
  animation: nubLoad ease-in 1s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes nubLoad{
  0% {
    width: 18%;
    opacity: 0;
  }
  50% {
    width: 20%;
    opacity: 1;
  }
  100%{
    width: 18%;
    opacity: 0;
  }
}

/*Nub on Website*/
.nub {
  z-index: 999;
  width: 20%;
  position: fixed;
  bottom: 0%;
  right: 2%;
  animation: nubMovement ease-in 15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes nubMovement{
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*Navbar*/
.navbar {
  background-color: rgb(22, 6, 80,0.75);
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .05%;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-image {
  width: 13%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  padding: 12px;
  color: whitesmoke;
  font-weight: 645;
  font-size: 2.3vw;
  text-decoration: none;
  transition: color .25s ease-out 25ms;
}


.nav-item:hover {
  color: rgb(145, 140, 216);
  cursor: pointer;
}

.visual {
  animation: scrollAnimation ease-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scrollAnimation {
  0% {
    color: whitesmoke;
  }
  100% {
    color: rgb(145, 140, 216);
    }
}

/* Home */
.skyline-home {
  display: flex;
  z-index: 0;
  justify-content: center;
  align-items: center;
  background: rgb(22, 6, 80,0.75);
  position: relative;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.skyline-home .home-text {
  z-index: 2;
  position: absolute;
  color: whitesmoke;
  font-size: 5vw;
  bottom: 52%;
  right: 62%;
  font-weight: 475;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-shadow: 0 3px 7px rgb(0 0 0 / 100%);
  font-family: optima;
}

.skyline-home .home-logo {
  z-index: 2;
  position: absolute;
  right: 50%;
  bottom: 22%;
  width: 30%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
    }
}

/* About */

.about-wrapper {
  background: linear-gradient(rgba(145, 140, 216, 0.8), rgba(207, 206, 221, 0.8),rgba(22, 6, 80, 0.9)), url(../images/stars2.gif) repeat;
  height: 50%;
  padding: 10%;
  border-bottom-color: whitesmoke;
  border-bottom-style: groove;
  border-bottom-width: .5vw;
}

.skyline-about {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-evenly;
}

.skyline-about .about-photo .about-image {
  width: 110%;
  padding: 3%;
}

.skyline-about .skyline-text {
  width: 90%;
  padding: 3%;
  margin: 10% auto 10% auto;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.skyline-text {
  background-color: white;
}

.skyline-about .skyline-text h1 {
  font-size: 3.5vw;
  font-weight: 640;
}

.skyline-about .skyline-text p {
  font-size: 1.8vw;
}

/* Credits */

.credit-wrapper {
  background: linear-gradient(rgba(22, 6, 80, 0.9), rgba(84, 53, 196, 0.9), rgba(145, 140, 216, 0.8)), url(../images/stars2.gif) repeat;
  height: 50%;
  padding: 7%;
  border-bottom-color: whitesmoke;
  border-bottom-style: groove;
  border-bottom-width: .5vw;
}

.credits-header {
  text-align: center;
  font-size: 4vw;
  color: whitesmoke;
}

.credits-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 3% 20%;
  position: relative;
}

.credit-buttons-wrapper {
  width: max-content;
  flex: 1 0 0;
  padding: 2% 2%;
}

.credit-buttons {
  width: 100%;
  font-size: 1.5vw;
  padding: 4%;
  border: none;
  color: rgb(145, 140, 216);
  background-color: none;
  border-radius: 500px;
  font-weight: 550;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  transition: color, font-size .25s ease-out 25ms, .25s ease-out 25ms;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  border: 2px solid rgba(191, 186, 219, 0.904);
}

.credit-buttons:hover {
  color: rgba(173, 165, 223, 0.904);
  font-size: 1.53vw;
}

.credit {
  width: 20%;        
  display: flex;          
  flex-direction: column; 
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  padding: 4%;
  align-items: center;
  margin: 1%;
  margin-bottom: 4%;
  border: 2px solid rgba(191, 186, 219, 0.904);
  animation: cardAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes cardAnimation {
  from{
    opacity: 0;
    transform: translateX(10px);
  }

  to{
    opacity: 100%;
    transform: translateX(0px);
  }
}

.credits-list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto; 
  align-items: center;
  justify-content: space-around;
}

.credit-image {
  width: 65%;
  border-radius: 500px;
  border: 2px solid rgba(191, 186, 219, 0.904);
  margin: 5%;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.credit-name {
  font-size: 2.2vw;
  font-weight: bold;
  text-align: center;
  margin: 3%;
  background-color: rgba(191, 186, 219, 0.904);
  padding: 5%;
  border-radius: 20px;
  color: whitesmoke;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.credit-icons {
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: center;
  margin: 1%;
  padding: 2%;
}

.credit-links {
  text-align: center;
  padding: 5%;
}

.credit-icon {
  width: 5vw;
  padding: 2%;
  display: inline;
  background-color: rgba(191, 186, 219, 0.904);
  border-radius: 500px;
  transition: background-color .25s ease-out 25ms; 
}

.credit-icon:hover {
  background-color: rgba(143, 134, 192, 0.904); 
}

/* Apply */

.apply-wrapper {
  background: linear-gradient(rgba(145, 140, 216, 0.8), rgba(207, 206, 221, 0.8)), url(../images/stars2.gif) repeat;
  height: 40%;
  padding: 6%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-head {
  display: flex;
  flex-direction: column; 
  background-color: rgb(22, 6, 80,0.75);
  margin: 2%;
  border-radius: 100px 0 100px 0;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.form-header {
  color: whitesmoke;
  font-size: 4vw;
  font-weight: 700;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
  text-align: center;
  padding: 1%;
}

.form-text {
  color: whitesmoke;
  font-size: 2vw;
  font-weight: 700;
  text-shadow: 0 3px 7px rgb(0 0 0 / 35%); 
  text-align: center; 
  padding: 1%;
}

/* Footer */

.footer-wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(206, 206, 214, 0.8), rgb(86, 71, 141),rgb(12, 3, 43));
  background-color: rgb(12, 3, 43);
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.footer-logo {
  width: 20vw;
  padding: 2%;
}

.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: center;
  margin: 1%;
  padding: 0.5%;
}

.footer-links {
  text-align: center;
  padding: 5%;
}

.footer-icon {
  width: 6vw;
  display: inline;
  background-color: rgb(12, 3, 43);
  border-radius: 500px;
  transition: background-color .25s ease-out 25ms;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.footer-icon:hover {
  background-color: rgb(30, 10, 104); 
}

.footer-text {
  color: whitesmoke;
  padding: 1%;
  font-size: 2vw;
}

/* CSS Animation to load content while scrolling */

.reveal{
  position: relative;
  transform: translateX(30px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateX(0);
  opacity: 1;
}
  }

/*
===================================
MOBILE
===================================
*/

@media only screen and (max-width: 500px) {
  .loading {
      background: linear-gradient(rgba(22, 6, 80, 0.9), rgba(84, 53, 196, 0.9), rgba(145, 140, 216, 0.8)), url(../images/stars2.gif) repeat;
      z-index: 999;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .loading-image {
      z-index: 999;
      animation: nubLoad ease-in 1s;
      animation-iteration-count: 3;
      animation-fill-mode: forwards;
  }
  
  @keyframes nubLoad{
      0% {
      width: 30%;
      opacity: 0;
      }
      50% {
      width: 32%;
      opacity: 1;
      }
      100%{
      width: 30%;
      opacity: 0;
      }
  }
  
  /*Nub on Website*/
  .nub {
      z-index: 999;
      width: 30%;
      position: fixed;
      bottom: 0%;
      right: 2%;
      animation: nubMovement ease-in 15s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }
  
  @keyframes nubMovement{
      0% {
      transform: translateY(200px);
      }
      100% {
      transform: translateY(0px);
      }
  }
  
  /*Navbar*/
  .navbar {
      background-color: rgb(22, 6, 80,0.75);
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: .002%;
      position: fixed;
      width: 100%;
      z-index: 999;
  }
  
  .nav-image {
      width: 20%;
  }
  
  .nav-links {
      list-style: none;
      display: flex;
      justify-content: space-around;
      visibility: hidden;
  }
  
  .nav-item {
      padding: 15px;
      color: whitesmoke;
      font-weight: 645;
      font-size: 1.5vw;
      text-decoration: none;
      transition: color .25s ease-out 25ms;
  }
  
  
  .nav-item:hover {
      color: rgb(145, 140, 216);
      cursor: pointer;
  }
  
  .visual {
      animation: scrollAnimation ease-out 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }
  
  @keyframes scrollAnimation {
      0% {
      color: whitesmoke;
      }
      100% {
      color: rgb(145, 140, 216);
      }
  }
  
    /* Home */
  .skyline-home {
      display: flex;
      z-index: 0;
      justify-content: center;
      align-items: center;
      background: rgb(22, 6, 80,0.75);
      position: relative;
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  }
  
  .skyline-home .home-text {
      z-index: 2;
      position: absolute;
      color: whitesmoke;
      font-size: 5.8vw;
      bottom: 45%;
      right: 62%;
      font-weight: 475;
      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      text-shadow: 0 3px 7px rgb(0 0 0 / 100%);
      font-family: optima;
  }
  
  .skyline-home .home-logo {
      z-index: 2;
      position: absolute;
      right: 55%;
      bottom: 17%;
      width: 30%;
      animation: fadeInAnimation ease 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
    /* About */
  
  .about-wrapper {
      background: linear-gradient(rgba(145, 140, 216, 0.8), rgba(207, 206, 221, 0.8),rgba(22, 6, 80, 0.9)), url(../images/stars2.gif) repeat;
      padding: 10%;
      border-bottom-color: whitesmoke;
      border-bottom-style: groove;
      border-bottom-width: .5vw;
  }
  
  .skyline-about {       
    width: 50%;        
    display: flex;          
    flex-direction: column; 
    position: relative;
    padding: 1%;
    align-items: center;
    margin-bottom: 4%;
  }
  
  .about-image {
    width: 100%;
  }

  .skyline-about {
      width: 100%;
      padding: 2% 0 2% 0;
  }
  
  .skyline-about .skyline-text {
      width: 94%;
      padding: 3%;
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  }
  
  .skyline-text {
      background-color: white;
  }
  
  .skyline-about .skyline-text h1 {
      font-size: 5vw;
      font-weight: 640;
  }
  
  .skyline-about .skyline-text p {
      font-size: 3vw;
  }
  
    /* Credits */
  
  .credit-wrapper {
      background: linear-gradient(rgba(22, 6, 80, 0.9), rgba(84, 53, 196, 0.9), rgba(145, 140, 216, 0.8)), url(../images/stars2.gif) repeat;
      height: 50%;
      padding: 8%;
      border-bottom-color: whitesmoke;
      border-bottom-style: groove;
      border-bottom-width: .5vw;
  }
  
  .credits-header {
      text-align: center;
      font-size: 8vw;
      color: whitesmoke;
  }
  
  .credits-menu {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 5% 10%;
      position: relative;
  }
  
  .credit-buttons-wrapper {
      width: max-content;
      flex: 1 0 0;
      padding: 2% 2%;
  }
  
  .credit-buttons {
      width: 100%;
      font-size: 1.7vw;
      padding: 5%;
      border: none;
      color: rgb(145, 140, 216);
      background-color: none;
      border-radius: 500px;
      font-weight: 550;
      text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
      transition: color, font-size .25s ease-out 25ms, .25s ease-out 25ms;
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
      border: 2px solid rgba(191, 186, 219, 0.904);
  }
  
  .credit-buttons:hover {
      color: rgba(173, 165, 223, 0.904);
      font-size: 1.9vw;
  }
  
  .credit {
      width: 50%;        
      display: flex;          
      flex-direction: column; 
      position: relative;
      background-color: whitesmoke;
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
      padding: 4%;
      align-items: center;
      margin: 1%;
      margin-bottom: 3%;
      border: 2px solid rgba(191, 186, 219, 0.904);
      animation: cardAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }
  
  @keyframes cardAnimation {
      from{
      opacity: 0;
      transform: translateX(10px);
      }
  
      to{
      opacity: 100%;
      transform: translateX(0px);
      }
  }
  
  .credits-list {
      display: flex;
      flex-wrap: wrap;
      overflow: auto; 
      align-items: center;
      justify-content: space-around;
  }
  
  .credit-image {
      width: 50%;
      border-radius: 500px;
      border: 3px solid rgba(191, 186, 219, 0.904);
      margin: 5%;
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  }
  
  .credit-name {
      font-size: 4vw;
      font-weight: bold;
      text-align: center;
      margin: 3%;
      background-color: rgba(191, 186, 219, 0.904);
      padding: 5%;
      border-radius: 20px;
      color: whitesmoke;
      text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  }
  
  .credit-icons {
      display: flex;
      align-items: center;
      flex-direction: row; 
      justify-content: center;
      margin: 1%;
      padding: 2%;
  }
  
  .credit-links {
      text-align: center;
      padding: 5%;
  }
  
  .credit-icon {
      width: 9vw;
      padding: 2%;
      display: inline;
      background-color: rgba(191, 186, 219, 0.904);
      border-radius: 500px;
      transition: background-color .25s ease-out 25ms; 
  }
  
  .credit-icon:hover {
      background-color: rgba(143, 134, 192, 0.904); 
  }
  
    /* Apply */
  
  .apply-wrapper {
      background: linear-gradient(rgba(145, 140, 216, 0.8), rgba(207, 206, 221, 0.8)), url(../images/stars2.gif) repeat;
      height: 40%;
      padding: 6%;
  }
  
  .form-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .form-head {
      display: flex;
      flex-direction: column; 
      background-color: rgb(22, 6, 80,0.75);
      margin: 2%;
      border-radius: 100px 0 100px 0;
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  }
  
  .form-header {
      color: whitesmoke;
      font-size: 6vw;
      font-weight: 700;
      text-shadow: 0 3px 7px rgb(0 0 0 / 35%);
      text-align: center;
      padding: 1%;
  }
  
  .form-text {
      color: whitesmoke;
      font-size: 4vw;
      font-weight: 700;
      text-shadow: 0 3px 7px rgb(0 0 0 / 35%); 
      text-align: center; 
      padding: 2%;
  }

  iframe {
    width: 100%;
  }
  
    /* Footer */
  
  .footer-wrapper {
      display: flex;
      flex-direction: column;
      background: linear-gradient(rgba(206, 206, 214, 0.8), rgb(86, 71, 141),rgb(12, 3, 43));
      background-color: rgb(12, 3, 43);
      justify-content: center;
      align-items: center;
      padding: 1%;
  }
  
  .footer-logo {
      width: 25vw;
      padding: 2%;
  }
  
  .footer-socials {
      display: flex;
      align-items: center;
      flex-direction: row; 
      justify-content: center;
      margin: 1%;
      padding: 0.5%;
  }
  
  .footer-links {
      text-align: center;
      padding: 5%;
  }
  
  .footer-icon {
      width: 9vw;
      display: inline;
      background-color: rgb(12, 3, 43);
      border-radius: 500px;
      transition: background-color .25s ease-out 25ms;
      box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  }
  
  .footer-icon:hover {
      background-color: rgb(30, 10, 104); 
  }
  
  .footer-text {
      color: whitesmoke;
      padding: 1%;
      font-size: 3vw;
  }
  
    /* CSS Animation to load content while scrolling */
  
  .reveal{
      position: relative;
      transform: translateX(30px);
      opacity: 0;
      transition: 1s all ease;
  }
  
  .reveal.active{
      transform: translateX(0);
      opacity: 1;
  }
  }